<div class="jumbotron">
    <h2>This is fake JSON viewer</h2>
    <h3>Choose JSON file to view:</h3>
    <a href="/table/users" class="btn btn-outline-primary <% if (page === 'users') { %>btn-primary<% } %>">Users</a>
    <a href="/table/uploads" class="btn btn-outline-primary <% if (page === 'uploads') { %>btn-primary<% } %>">Uploads</a>
    <a href="/table/car_purchases" class="btn btn-outline-primary <% if (page === 'car purchases') { %>btn-primary<% } %>">Car Purchases</a>
</div>