<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Table App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <div class="container">
        <%- include ./partials/_intro.ejs  %>
    </div>

<script src="../js/vendor/jquery-1.8.3.min.js"></script>
<script src="../js/app.js"></script>
</body>
</html>